.padre{

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container{
    width: 300px;
    margin: 0 auto;
    border: 1px solid ;
    border-style:initial ;
    padding: 20px;
    
    
}
input[type="text"],
  input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    
  }
 
  .div-container{
    width: 300px;
    margin: 0 auto;
    border: 1px solid ;
    border-style:initial ;
    padding: 20px;
    
  }
  .bajas{
    width: 300px;
   
  }
  .modifi{
  width: 300px;
  }