#map {
        height: 99%;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
}

.container {
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 10px;
        height: 100%;
}
#TableContainer {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: auto;
    }
#TableContainer table {
padding: 10px;
box-sizing: border-box;
overflow-y: auto;
width: 100%;
}

.tableButtons {
        text-align: center; 
    }

.form__button {
        margin: 10px; 
 }



@media (max-width: 700px) {
        .container {
            grid-template-columns: 1fr; 
        }
    
        #TableContainer {
            order: 1; 
        }
    
        #map {
            order: 2; 
        }
        .tableButtons {
                text-align: center; 
            }
        
            .form__button {
                margin: 10px; 
            }
    }
    




