.container {
        display: flex;
        flex-wrap: wrap;
    }
    
    #TableContainer {
        width: 30%;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: auto;
    }
    
    #map {
        width: 70%;
        height: 400px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    /* Media query para diseño responsive */
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }
    
        #TableContainer, #map {
            width: 100%;
        }
    }
    