@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* #c1c9c8 */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* body{
  margin: 0;
  margin-bottom: 3.43rem;
  font-size: 16px;
} */

.espacio__blanco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


/* LOGIN TEXT */
.nav__text {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #3e838c;
  height: 6.25em;
}

.navbar__logo {
  padding-left: 1em;
  height: 6.25em;
  display: grid;
  place-items: center;
}

.navbar__logo img {
  height: 5em;
  width: 5em;
}

.navbar__list {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  align-items: center;

}

.navbar__list__item {
  padding: 1.25rem;
  border-left: 2px solid black;
  height: 100%;
  position: relative;
}

.navbar__list__item:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;

}

.navbar__list__item a {
  font-size: 18px;
  text-decoration: none;
  color: #f4faf9;
}

.navbar__logout__button {
  text-decoration: none;
  font-size: 18px;
  padding: 1.25rem;
  background-color: #3e838c;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  border-radius: 2.18em;
  margin-right: 0.31rem;
}

.navbar__logout__button:hover {
  background: #195e63;
  transform: scale(1.05);
  transition: all ease 0.5s;
}

.navbar__logout__button a {
  color: #f4faf9;
}

.navbar__submenu {
  position: absolute;
  background: #3e838c;
  width: 120%;
  padding: 1.25rem;
  visibility: hidden;
  opacity: 0;
}

.navbar__submenu__item {
  border-bottom: 1px solid black;
  margin-top: 5px;
}

.navbar__submenu__item a {
  display: block;
  padding: 0.93rem;
  color: #f4faf9;

}

.navbar__list__item:hover .navbar__submenu {
  visibility: visible;
  opacity: 1;
}

.navbar__submenu__item a:hover {
  transform: scale(1.05);
  transition: all ease 0.2s;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #000000;
  width: 100%;
  height: 3.43rem;
}

.footer__logo {
  height: 2.5rem;
}

.footer__logo img {
  height: 2.5rem;
  width: auto;
}

.footer__copyright {
  color: white;
}

.footer__list__item a {
  color: white;
}

.footer__list__item:hover {
  color: white;
  transform: scale(1.05);
}


h1 {
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table tr {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

@media (max-width: 992px) {
  .body {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbar__logout__button {
    font-size: 12px;
    border-radius: 2.18em;
    margin-right: 0.31em;
    padding: 1em;
  }

  .navbar__list__item {
    padding: 1rem;
  }

  .navbar__list__item a {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__list__item a {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .navbar__logout__button {
    font-size: 12px;
    border-radius: 2.18em;
    margin-right: 0.31em;
    padding: 1em;
  }

  .navbar__list__item {
    padding: 1rem;
  }

  .navbar__list__item a {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__list__item a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .navbar__logout__button {
    font-size: 10px;
    border-radius: 2.18em;
    margin-right: 0.31em;
    padding: 1em;
  }

  .navbar__list__item {
    padding: 1em;
  }

  .navbar__list__item a {
    font-size: 10px;
  }

  .footer__copyright {
    font-size: 10px;
  }

  .footer__list__item a {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .navbar__logout__button {
    font-size: 8px;
    border-radius: 2.18em;
    margin-right: 0.31em;
    padding: 1em;
  }

  .navbar__list__item {
    padding: 1em;
  }

  .navbar__list__item a {
    font-size: 8px;
  }

  .navbar__logo {
    height: 0em;
  }

  .footer__copyright {
    font-size: 8px;
  }

  .footer__list__item a {
    font-size: 8px;
  }

  .navbar__logo img {
    height: 0em;
    width: 0em;
  }
}


#info-container {
  display: flex;
  justify-content: space-around; /* Alinea los elementos con espacio entre ellos */
  align-items: flex-end; /* Alinea los elementos al final del contenedor */
  
}

#info-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; /* Ajusta el margen entre los elementos según sea necesario */
}

#info-icons img {
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: 50px; /* Ajusta la altura según sea necesario */
  margin-bottom: 5px; /* Espacio entre el icono y el texto */
}

#info-text p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}



  

