.padre{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.formone{
    padding: 20px;
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    text-align: center;

    margin: auto;
    
}
   
h2{
    text-align: center;
}
.form{
    text-align: center;
    padding-top: 200px;
}
.formtwo{
   
    padding: 20px;
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    text-align: center;

    margin: auto;
}
.form2{
    
    padding-top: 200px;
}